<app-homeowner-toolbar></app-homeowner-toolbar>

<div *ngIf="contract === undefined">
    <div fxLayout="column" fxLayoutAlign="center center">
        <h1 style="height: 0px">Sign up for Panels!</h1>
        <h3>(first select an option)</h3>
        <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 100%">
            <button mat-raised-button color="primary" (click)="setOption(0)">Small</button>
            <button mat-raised-button color="primary" (click)="setOption(1)">Medium</button>
            <button mat-raised-button color="primary" (click)="setOption(2)">Large</button>
        </div>
        <div *ngIf="optionInfo !== undefined" fxLayout="column" fxLayoutAlign="center center">
            <h3 style="height:0px">For a home that uses {{optionInfo.electricity}} kWh per month</h3>
            <h3>It would cost ${{optionInfo.monthlyPayment}} per month</h3>
            <button mat-raised-button color="accent" (click)="signUp(optionInfo.contractSize)">Sign Up!</button>
        </div>
    </div>
</div>

<div *ngIf="contract !== undefined">
    <div *ngIf="contract.positionInQueue !== null" fxLayout="column" fxLayoutAlign="center center">
        <h1>Thanks for Signing Up!</h1>
        <h2>You are position {{contract.positionInQueue}} in the waiting list</h2>
    </div>
    <div *ngIf="contract.positionInQueue === null" fxLayout="column" fxLayoutAlign="center center">
        <h1>Thanks for Signing Up!</h1>
        <h2>Next Payment of ${{contract.monthlyPayment}} due at the end of the month</h2>
    </div>
</div>