<app-homeowner-toolbar></app-homeowner-toolbar>

<div *ngIf="contract === undefined">
    <div fxLayout="column" fxLayoutAlign="center center">
        <h1>Sign up for Panels!</h1>
        <app-homeowner-estimate-modal #estimate></app-homeowner-estimate-modal>
        <div *ngIf="estimateComponent && estimateComponent.estimateResults" fxLayout="column"
            fxLayoutAlign="center center">
            <button mat-raised-button color="accent"
                (click)="signUp(estimateComponent.estimateResults.contractSize)">Sign Up!</button>
        </div>
    </div>
</div>

<div *ngIf="contract !== undefined">
    <div *ngIf="contract.positionInQueue !== null" fxLayout="column" fxLayoutAlign="center center">
        <h1>Thanks for Signing Up!</h1>
        <h2>You are position {{contract.positionInQueue}} in the waiting list</h2>
    </div>
    <div *ngIf="contract.positionInQueue === null" fxLayout="column" fxLayoutAlign="center center">
        <h1>Thanks for Signing Up!</h1>
        <h2>Next Payment of ${{contract.monthlyPayment}} due at the end of the month</h2>
    </div>
</div>