<div class="main-screen" fxLayout="column">
    <mat-toolbar class="toolbar">
        <mat-toolbar-row>
            <span>Capsol</span>
            <div fxFlex></div>
            <button mat-raised-button (click)="this.redirectToHomeowner()">Homeowner Login</button>
            <div fxFlex=2></div>
            <button mat-raised-button (click)="this.redirectToInvestor()">Investor Login</button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div fxFlex=4></div>
    <div fxLayout="column" fxLayoutAlign="start center" style="width: 100%">
        <h1 class="company-name mat-display-4">Capsol</h1>
        <h4 class="use-app-font mat-display-1" style="text-align: center; width: 50%; height: 80px">
            Connecting every day investors who want to do good yet still make money with
            homeowners in order to provide crowdsourced loans.</h4>
        <h2 class="use-app-font mat-h2">Want to Know More?</h2>
        <div fxLayout="row" fxLayoutAlign="center" style="width:100%">
            <button mat-button (click)="selectHomeowner()" class="type-button">Homeowner</button>
            <div fxFlex=10></div>
            <button mat-button (click)="selectInvestor()" class="type-button">Investor</button>
        </div>
    </div>
</div>
<div id="awards" class="awards"></div>
<div class="color-splash"></div>
<div *ngIf="selected==='investor'">
    Investors!
</div>
<div *ngIf="selected==='homeowner'" fxLayout="column" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="start top" style="width: 100%" class="stat-container">
        <div fxLayout="column" style="width:33%" fxLayoutAlign="start center" class="stat-item">
            <h3 style="height: 10px" class="use-app-font">Panels Installed</h3>
            <h1 class="use-app-font mat-display-3" style="height: 0px">1000+</h1>
            <h5 style="height: 0px" class="use-app-font">As of Nov 6, 2019</h5>
        </div>
        <div fxLayout="column" style="width:33%" fxLayoutAlign="start center" class="stat-item">
            <h3 style="height: 10px" class="use-app-font">Carbon Reduced</h3>
            <h1 class="use-app-font mat-display-3" style="height: 0px">100+ Tons</h1>
            <h5 style="height: 0px" class="use-app-font">As of Nov 6, 2019</h5>
        </div>
        <div fxLayout="column" style="width:33%" fxLayoutAlign="start center" class="stat-item">
            <h3 style="height: 10px" class="use-app-font">Money Saved</h3>
            <h1 class="use-app-font mat-display-3" style="height: 0px">$100000+</h1>
            <h5 style="height: 0px" class="use-app-font">As of Nov 6, 2019</h5>
        </div>
    </div>
    <div style="height:10px"></div>
    <div fxLayout="row" fxLayoutAlign="start start" style="width:100%">
        <div style="width: 60%">
            <img src="../../assets/pitch/img/solar-illustration.png" alt="Solar Illustration" class="solar-image">
        </div>
        <div fxLayout="column" fxLayoutAlign="start space-between" class="why-container">
            <div style="height:30px"></div>
            <h1>Why Choose Capsol?</h1>
            <div fxLayout="column" fxLayoutAlign="start start" class="why-item">
                <p class="why-title">Simple, Quick, Pain Free</p>
                <p>Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg
                    Blorg Blorg </p>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start" class="why-item">
                <p class="why-title">No Home Equity</p>
                <p>Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg
                    Blorg Blorg </p>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start" class="why-item">
                <p class="why-title">Fair Market Rate</p>
                <p>Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg
                    Blorg Blorg </p>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" style="width:100%" class="main-step-container">
        <div fxLayout="column" fxLayoutAlign="start space-between" class="step-container">
            <div style="height:30px"></div>
            <h1>Steps to Solar</h1>
            <div fxLayout="column" fxLayoutAlign="start start" class="step-item">
                <p class="step-title">1. Sign Up and Added to Waitlist</p>
                <p>Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg
                    Blorg Blorg </p>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start" class="step-item">
                <p class="step-title">2. Receive Investment + Solar Panels</p>
                <p>Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg
                    Blorg Blorg </p>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start" class="step-item">
                <p class="step-title">3. Make Monthly Payment</p>
                <p>Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg Blorg
                    Blorg Blorg </p>
            </div>
        </div>
        <div style="width: 60%">
            <img src="../../assets/pitch/img/sun.png" alt="Sun" class="solar-image2">
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center">
        <h1>Convinced?</h1>
        <button mat-raised-button class="type-button" style="width:300px">Get an Estimate Now</button>
        <div style="height:5vh"></div>
        <!-- Enters in a flow that ends in create an account -->
    </div>
    <div class="footer"></div>

</div>


<!-- Layout
    Nav-Bar : Always On Top (logo + links + logins)
    Tagline + Image of Investor App
    Select investor or homeowner
    Pitching Competitions + Awards

    Investor:
        Generic pitch (include target rate)
        Our Features
            Invest money
            Sell investments
            See green impact
        Historical performance graph
            How tf do I do this?
        What if I invested this much?
            Financial savings?
            Green savings?
    Homeowner:
        Generic pitch (include number of homes + average rate)
        Out Features
            Simple sign-up
            No equity
            Market rate
        What if I sign up my home up?
            Enter address + monthly electricity bill
                Expected payment
                Expected savings
                Green impact
        What if I move?
-->