@import '~@angular/material/theming';
@import '../../common-colors.scss';

.use-app-font {
    font-family: 'proxima-thin', 'arial', sans-serif;
}

.main-screen { 
    width: 100%;
    height: 85vh;
}

.toolbar {
    @include mat-elevation(4);
    background-color: $grayblue;
    width: 100%;
    height: 10vh;
    color: black;
}

.company-name {
    font-family: 'trench', 'arial', sans-serif;
    width:30%;
    height: 120px;
    background-image: url('../../assets/logo_black.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.type-button {
    background-color: $accent;
    width: 190px;
    height: 60px;
    font-size: 30px;
}

.color-splash {
    background-color: $primary;
    width: 100%;
    height: 10vh;
}

.awards {
    width:100%;
    height: 50px;
    background-image: url('../../assets/pitch/img/client-logos.png');
    background-repeat: no-repeat;
    background-position: center;
}

.stat-container {
    width: 100%;
    background-color: $primary;
}

.stat-item {
    width: 33%;
    height: 100%;
    color: white;
    margin-bottom: 10vh;
}

.solar-image {
    width: 60%;
    margin-left: 20%;
    margin-top: 15%;
}

.why-container {
    width: 50%;
    margin-bottom: 10%;
}

.why-item {
    width: 50%;
}

.why-title {
    height: 0px;
    font-family: 'proxima-bold', 'arial', sans-serif;
}

.main-step-container {
    background-color: mat-color(mat-palette($md-darkcolor, 50));
}

.step-container {
    width: 50%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.step-item {
    width: 50%;
}

.step-title {
    height: 0px;
    font-family: 'proxima-bold', 'arial', sans-serif;
}

.solar-image2 {
    width: 50%;
    margin-right: 20%;
    margin-top: 15%;
}

.footer {
    background-color: $primary;
    height: 20vh;
    width: 100%;
}

.invest-image {
    width: 60%;
    margin-left: 20%;
    margin-top: 15%;
}

.invest-image2 {
    width: 65%;
    margin-right: 20%;
    margin-top: 15%;
}

.logo {
    margin-top: 10px;
    width:10%;
    height: 130px;
    background-image: url('../../assets/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
}
