@import '~@angular/material/theming';

.color-splash { 
    background-image: linear-gradient(to right, lightgreen , aquamarine);
    width: 100%;
    height: 100vh;
}

.toolbar {
    @include mat-elevation(4);
    background-color: green;
    width: 100%;
    height: 10vh;
}

.main-image {
    width: 20%;
    height: 20vw;
    background-color: red;
}