<div class="color-splash" fxLayout="column">
    <mat-toolbar class="toolbar">
        <mat-toolbar-row>
            <span>Capsol</span>
            <div fxFlex></div>
            <button mat-raised-button (click)="this.redirectToHomeowner()">Homeowner Login</button>
            <div fxFlex=2></div>
            <button mat-raised-button (click)="this.redirectToInvestor()">Investor Login</button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div fxFlex=20></div>
    <div fxLayout="row" fxLayoutAlign="space-around start" style="width:100%">
        <div fxLayout="column" fxLayoutAlign="start center" style="width: 30%">
            <h1 class="mat-display-1" style="height:0px">Capsol</h1>
            <h4 class="mat-h4" style="text-align: center;">
                Connecting every day investors who want to do good yet still make money with
                homeowners in order to provide crowdsourced loans.</h4>
            <div style="height:30px"></div>
            <h2 class="mat-h2">Want to Know More?</h2>
            <div fxLayout="row" fxLayoutAlign="space-around" style="width:100%">
                <button mat-raised-button (click)="selectHomeowner()">Homeowner</button>
                <button mat-raised-button (click)="selectInvestor()">Investor</button>
            </div>
        </div>
        <div class="main-image"></div>
    </div>
</div>
<div id="awards" class="awards"></div>
<div *ngIf="selected==='investor'">
    Investors!
</div>
<div *ngIf="selected==='homeowner'" fxLayout="column" fxLayoutAlign="start center">
    <div class="features" fxLayout="column" fxLayoutAlign="start center">
        <h1 class="mat-h1">Why us?</h1>
        <div fxLayout="row" fxLayoutAlign="space-around center" style="width:100%">
            <app-feature-item></app-feature-item>
            <app-feature-item></app-feature-item>
            <app-feature-item></app-feature-item>
        </div>
    </div>
    <div style="height:10px"></div>
    <div fxLayout="row" fxLayoutAlign="space-around center" class="main-stat-container">
        <div fxLayout="column" style="width:50%" fxLayoutAlign="start center">
            <mat-icon class="main-stat-icon">house</mat-icon>
            <h1>Panels Installed: 1000</h1>
        </div>
        <div style="width:50%" fxLayout="column" fxLayoutAlign="start center">
            <div class="stat-container" fxLayout="column" fxLayoutAlign="start center">
                <mat-icon class="stat-icon">attach_money</mat-icon>
                <h1>Money Saved: $10000</h1>
            </div>
            <div class="stat-container" fxLayout="column" fxLayoutAlign="start center">
                <mat-icon class="stat-icon">cloud</mat-icon>
                <h1>Carbon Avoided: 100 Tons</h1>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center">
        <h1>Steps</h1>
        <h2>1. Sign Up and Added to Waitlist</h2>
        <h2>2. Receive Investment + Solar Panels</h2>
        <h2>3. Make Monthly Payment</h2>
        <h2>4. Save money + own panels!</h2>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center">
        <h1>Get an Estimate Now!</h1>
        <button mat-raised-button>Get Estimate</button>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center">
        <h1>Worried About Having to Move?</h1>
        <h2>All contracts are fully transferable and payable at anytime!</h2>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center">
        <h1>Convinced?</h1>
        <button mat-raised-button>Make an Account!</button>
    </div>

</div>


<!-- Layout
    Nav-Bar : Always On Top (logo + links + logins)
    Tagline + Image of Investor App
    Select investor or homeowner
    Pitching Competitions + Awards

    Investor:
        Generic pitch (include target rate)
        Our Features
            Invest money
            Sell investments
            See green impact
        Historical performance graph
            How tf do I do this?
        What if I invested this much?
            Financial savings?
            Green savings?
    Homeowner:
        Generic pitch (include number of homes + average rate)
        Out Features
            Simple sign-up
            No equity
            Market rate
        What if I sign up my home up?
            Enter address + monthly electricity bill
                Expected payment
                Expected savings
                Green impact
        What if I move?
-->