<div fxLayout="column">
    <ngx-charts-area-chart [view]="view" [scheme]="colorScheme" [results]="chartData" [gradient]="gradient"
        [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
    </ngx-charts-area-chart>
    <div fxLayout="row" fxLayoutAlign="space-around start">
        <p>Effective Interest: 5%</p>
        <p>Earnings: ${{getAmountEarned()}}</p>
        <p>Uninvested: {{cash}}</p>
    </div>
</div>