<div *ngIf="addressSet === false" fxLayout="column" fxLayoutAlign="start center" class="main-div">
    <h1 mat-dialog-title>Enter Your Address</h1>
    <p *ngIf="this.isModal">Don't worry! We won't send you anything.</p>
    <div [formGroup]="address" mat-dialog-content fxLayout="column" fxLayoutAlign="start center" style="width:100%">
        <mat-form-field style="width:100%">
            <input matInput type="text" formControlName="street" placeholder="St.">
            <mat-error *ngIf="address.get('street').invalid">Street is required</mat-error>
        </mat-form-field>

        <mat-form-field style="width:100%">
            <input matInput type="text" formControlName="city" placeholder="City">
            <mat-error *ngIf="address.get('city').invalid">City is required</mat-error>
        </mat-form-field>

        <mat-form-field style="width:100%">
            <input matInput type="text" formControlName="state" placeholder="State">
            <mat-error *ngIf="address.get('state').invalid">State is required</mat-error>
        </mat-form-field>

        <mat-form-field style="width:100%">
            <input matInput type="text" formControlName="zip" placeholder="Zipcode">
            <mat-error *ngIf="address.get('zip').invalid">Zipcode is required</mat-error>
        </mat-form-field>

        <button mat-button class="address-button" [disabled]="this.address.invalid"
            (click)="addressSubmitted()">Next</button>
    </div>
</div>

<div *ngIf="addressSet === true && electricitySet === false">
    <div mat-dialog-content fxLayout="column" fxLayoutAlign="start center" class="main-div">
        <h1 mat-dialog-title>What's Your Monthly Electricity Bill?</h1>
        <mat-form-field style="width:100%">
            <input matInput type="number" [formControl]="electricityBill" placeholder="$ per month">
            <mat-error *ngIf="electricityBill.invalid">{{getElectricityErrorMessage()}}
            </mat-error>
        </mat-form-field>
        <br>
        <button mat-button class="address-button" [disabled]="this.electricityBill.invalid"
            (click)="electricitySubmitted()">Next</button>
    </div>
</div>

<div *ngIf="addressSet === true && electricitySet === true && estimateResults === undefined">
    <div mat-dialog-content fxLayout="column" fxLayoutAlign="center center">
        <h1 mat-dialog-title>Querying The Professionals...</h1>
        <mat-spinner></mat-spinner>
    </div>
</div>

<div *ngIf="addressSet === true && electricitySet === true && estimateResults !== undefined">
    <div mat-dialog-content fxLayout="column" fxLayoutAlign="center start">
        <h1 mat-dialog-title *ngIf="this.isModal" style="height: 0px;">Your Results:</h1>
        <h1 style="height: 0px;">Installation Cost: $0</h1>
        <h1 style="height: 0px;">Current Bill: ${{electricityBill.value}} Per Month</h1>
        <h1 style="height: 0px;">New Bill: ${{estimateResults.getNewBill(electricityBill.value)}} Per Month
        </h1>
        <h4 style="height: 0px; margin-left:20px; font-style: italic;">Breakdown</h4>
        <h4 style="height: 0px; margin-left:20px; font-style: italic;">Our Monthly Fee:
            ${{estimateResults.monthlyPayment}}</h4>
        <h4 style="height: 0px; margin-left:20px; font-style: italic;">After Solar Electricity Bill:
            ${{electricityBill.value - estimateResults.billReduction}} Per Month</h4>
        <h1 style="height: 0px;">Total Savings: ${{estimateResults.getSavings()}} Per
            Month
        </h1>
        <h1>Carbon Impact: {{estimateResults.yearlyCarbonSavings}} Tons a Year</h1>
        <div *ngIf="this.isModal">
            <button mat-button class="address-button" (click)='this.goToHomeowner(); $event.stopPropagation()'>
                Sign Up Now!</button>
        </div>
    </div>
</div>