<div *ngIf="amountSet === false">
    <div mat-dialog-content>
        <h1 mat-dialog-title>How much do you want to invest?</h1>
        <mat-form-field>
            <input matInput type="number" [formControl]="amount" placeholder="$">
            <mat-error *ngIf="amount.invalid">{{getAmountErrorMessage()}}
            </mat-error>
        </mat-form-field>
        <br>
        <button mat-button class="address-button" [disabled]="this.amount.invalid"
            (click)="amountSubmitted()">Next</button>
    </div>
</div>

<div *ngIf="amountSet === true && estimateResults === undefined">
    <div mat-dialog-content fxLayout="column" fxLayoutAlign="center center">
        <h1 mat-dialog-title>Querying The Professionals...</h1>
        <mat-spinner></mat-spinner>
    </div>
</div>

<div *ngIf="amountSet === true && estimateResults !== undefined">
    <div mat-dialog-content fxLayout="column" fxLayoutAlign="center start">
        <h1 style="height:0px">Your Investment</h1>
        <h2 style="height:0px; margin-left: 20px;" class="big-info">Total Value: ${{estimateResults.fiveYearValue}}</h2>
        <h2 style="height:0px; margin-left: 20px;" class="big-info">Total Earnings:
            ${{estimateResults.getFiveYearEarnings()}}</h2>
        <h2 style="height:0px; margin-left: 20px;" class="big-info">Initial Investment: ${{estimateResults.baseAmount}}
        </h2>
        <h4 style="font-style: italic; margin-left: 20px;" class="little-info">*Projected in 5 Years</h4>
        <h1 style="height:0px">Your Impact</h1>
        <h2 style="height:0px; margin-left: 20px;" class="big-info">5 Year: {{estimateResults.fiveYearCarbonImpact}}
            Tons CO2</h2>
        <h2 style="height:0px; margin-left: 20px;" class="big-info">20 Year: {{estimateResults.twentyYearCarbonImpact}}
            Tons CO2</h2>
        <h4 style="font-style: italic; margin-left: 20px;" class="little-info">*Projected in 5 Years</h4>
        <button mat-button class="address-button" (click)='this.goToInvestor(); $event.stopPropagation()'>Sign Up
            Now!</button>
    </div>
</div>