<mat-card class="card" fxLayout="column" fxLayoutAlign="start center">
    <mat-card-header>
        <mat-card-title class="mat-display-1">Capsol Create Account</mat-card-title>
    </mat-card-header>
    <div fxFlex="10"></div>
    <mat-card-content style="width:40%">
        <form class="form">
            <table class="full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="form-field">
                            <input matInput placeholder="name" [(ngModel)]="name" name="name" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="form-field">
                            <input matInput placeholder="email" [(ngModel)]="email" name="email" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="form-field">
                            <input matInput placeholder="Password" [(ngModel)]="password" type="password"
                                name="password" required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </form>
        <mat-spinner [style.display]="loading ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button [disabled]="loading" (click)="createAccount()" color="primary">Create Account</button>
        <button mat-raised-button [disabled]="loading" routerLink="../login" color="primary">Back</button>
    </mat-card-actions>
</mat-card>